@{
    string selected;
    string selectAct = "";
    string selectDes = "";
    if (ViewBag.material.estado.idEstado == 0)
    {
        selectAct = " ";
        selectDes = "selected";
    }
    else
    {
        selectAct = "selected";
        selectDes = " ";
    }
}

<!-- contenido -->
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Material" onclick="loadPage();"><i class="fas fa-arrow-alt-circle-left"></i> Regresar Materiales  </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-edit"></i> Actualizar Material</div>
        <div class="panel-body">
            <form action="/Material/actualizarDatoMaterial" method="post" onsubmit="loadPage()">
                <input type="text" class="form-control" name="id" value="@ViewBag.material.idMaterial" style="display:none" required>
                <label>Descripcion</label>
                <input type="text" class="form-control" name="desc" value="@ViewBag.material.descripcion" required>
                <label>Tipo de Material</label>
                <select class="form-control" name="tpo" required>
                    @foreach (var dato in ViewBag.tipoMaterial)
                    {
                        if (dato.idTipo == @ViewBag.material.tipo.idTipo)
                        {
                            selected = "selected";
                        }
                        else
                        {
                            selected = "";
                        }
                        <option value="@dato.idTipo" @selected> @dato.descripcion </option>
                    }
                </select>
                <label>Unidad de material</label>
                <input type="text" class="form-control" name="unidad" value="@ViewBag.material.unidad" required>
                <label>Estado</label>
                <select class="form-control" name="estado">
                    <option value="1" @selectAct>Activo</option>
                    <option value="0" @selectDes>Inactivo</option>
                </select>
                <br />
                <button type="submit" class="btn btn-default">Guardar Material</button>
            </form>
        </div>
    </div>
</div>


