
@{
    int i = 1;
}
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Notas/nuevaNota" onclick="loadPage();"><i class="fas fa-plus-circle"></i> Agregar nueva Nota</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-clipboard-list"></i> Lista de Notas</div>
        <div class="panel-body">

            <div id="Nota">
                <div class="row">
                    <div class="form-inline" align="right"><label style="color:#636e72"> <i class="fas fa-search"></i> Filtrar: &nbsp;&nbsp;</label><input class="search form-control" placeholder="Busqueda en la lista" style="width:90%" /></div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># <button class="sort" data-sort="num" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:10px" aria-hidden="true"></span></button></th>
                                    <th>Tipo <button class="sort" data-sort="tdesc" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:10px" aria-hidden="true"></span></button></th>
                                    <th>Almacen <button class="sort" data-sort="nom" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:10px" aria-hidden="true"></span></button></th>
                                    <th>descripcion</th>
                                    <th>Solicitante <button class="sort" data-sort="uSoli" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:10px" aria-hidden="true"></span></button></th>
                                    <th>Respuesta <button class="sort" data-sort="uResp" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:10px" aria-hidden="true"></span></button></th>
                                    <th>Fecha</th>
                                    <th>Fecha Respuesta</th>
                                    <th>Estado</th>
                                    <th><center>Detalle</center></th>
                                    <th><center>Actualizar</center></th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var dato in ViewBag.listaNotas)
                                {
                                    <tr>
                                        <td class="num">@i</td>
                                        <td class="tdesc">@dato.tipo.descripcion</td>
                                        <td class="nom">@dato.almacen.nombre</td>
                                        <td class="desc">@dato.descripcion</td>
                                        <td class="uSoli">@dato.userSolicita.nombres</td>
                                        <td class="uResp">@dato.userResponde.nombres</td>
                                        <td>@dato.FechaSolicitud</td>
                                        <td>@dato.FechaRespuesta</td>
                                        <td>@dato.estado.descripcion</td>
                                        <td align="center"><a class="btn btn-default" href="/Notas/DetalleNota/?idt=@dato.idNota&refr=@dato.referencia.idReferencia" role="button"> <i class="fas fa-paste"></i>  </a></td>
                                        <td align="center"><a class="btn btn-default" href="/Notas/ActualizarNota/?idt=@dato.idNota" role="button"> <i class="fas fa-pencil-alt"></i>  </a></td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div align="right"><ul class="pagination"></ul></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var options = {
        valueNames: ['num','tdesc','nom','desc', 'uSoli','uResp'],
		page: 10,
        pagination: true
    };
    var userList = new List('Nota', options);
</script>


