@{
    int i = 1;
}
<!-- contenido -->
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Comprobantes" onclick="loadPage();"><i class="fas fa-arrow-alt-circle-left"></i> Regresar a Comprobantes  </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>



<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-plus"></i> Nuevo Cliente</div>
        <div class="panel-body">
            <div class="row">
                <form action="/Comprobantes/agregaDetalle" method="post" onsubmit="loadPage()" data-toggle="validator">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>id Comprobante</label>
                        <input type="text" class="form-control" name="idCom" value="@ViewBag.idComp" required>
                        <label>Concepto</label>
                        <select class="form-control" name="concep" required>
                            @foreach (var dato in ViewBag.conceptos)
                            {
                                <option value="@dato.idConcepto"> @dato.concepto </option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>Cantidad</label>
                        <input type="text" class="form-control" name="cant" pattern="^[_0-9]{1,}$" required>
                        <label>Monto</label>
                        <input type="text" class="form-control" name="mont" pattern="^\d{0,8}(\.\d{0,3})?$" required>
                        <br />
                        <button type="submit" class="btn btn-default">Agregar Detalle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-plus"></i> Nuevo Cliente</div>
        <div class="panel-body">
            <div class="row">
                <table id="table_Usuarios" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Concepto</th>
                            <th>Cantidad</th>
                            <th>Monto</th>
                            <th><center>Eliminar</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dato in ViewBag.listaDetalles)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@dato.concepto.concepto</td>
                                <td>@dato.cantidad</td>
                                <td>@dato.monto</td>
                                <td align="center"><a class="btn btn-danger" href="/Comprobantes/elimnaDetalle/?idDetalleComprobante=@dato.idDetalleComprobante" role="button"><i class="fas fa-trash-alt"></i> </a></td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
