
@{
    int i = 1;
}
<!-- contenido -->
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Comprobantes/nuevoComprobante" onclick="loadPage();"><i class="fas fa-plus-circle"></i> Agregar nuevo comprobante</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-clipboard-list"></i> Lista de Elementos</div>
        <div class="panel-body">

            <div id="comprobantes">
                <div class="form-inline" align="right"><label style="color:#636e72"> <i class="fas fa-search"></i> Filtrar: &nbsp;&nbsp;</label><input class="search form-control" placeholder="Busqueda en la lista" style="width:90%" /></div>
                <br />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Serie</th>
                                <th>Negocio</th>
                                <th>Cliente</th>
                                <th>Tipo</th>
                                <th>Fecha Impresión</th>
                                <th>Fecha Pago</th>
                                <th>Estado</th>
                                <th>Base Imponible</th>
                                <th>IGV</th>
                                <th>Total</th>
                                <th>Detalle</th>
                                <th>Actualizar</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var dato in ViewBag.listaComprobante)
                            {
                                <tr>
                                    <td class="num">@i</td>
                                    <td class="numComp">@dato.serie - @dato.numeroComprobante</td>
                                    <td class="neg">@dato.negocio.nombre</td>
                                    <td class="cli">@dato.cliente.nombres @dato.cliente.primerApellido @dato.cliente.segundoApellido</td>
                                    <td>@dato.tipo.descripcion</td>
                                    <td class="fechImp">@dato.fechaImprecion</td>
                                    <td class="fechPgo">@dato.fechaPago</td>
                                    <td>@dato.estado.descripcion</td>
                                    <td>@dato.subtotal</td>
                                    <td>@dato.igv</td>
                                    <td>@dato.total</td>
                                    <td><a class="btn btn-default" href="/Comprobantes/DetalleComprobante/?idt=@dato.idComprobante" role="button"> <i class="fas fa-paste"></i> </a></td>
                                    <td><a class="btn btn-default" href="/Comprobantes/actualizaComprobante/?idt=@dato.idComprobante" role="button"> <i class="fas fa-pencil-alt"></i></a></td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <div align="right"><ul class="pagination"></ul></div>
            </div>

        </div>
    </div>
</div>


<script>
    var options = {
        valueNames: ['num', 'numComp', 'neg', 'cli', 'fechImp', 'fechPgo'],
        page: 10,
        pagination: true
    };
    var userList = new List('comprobantes', options);
</script>
