<!-- contenido -->
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Comprobantes" onclick="loadPage();"><i class="fas fa-arrow-alt-circle-left"></i> Regresar a Comprobantes  </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-plus"></i> Nuevo Cliente</div>
        <div class="panel-body">
            <form action="/Comprobantes/agregarComprobante" method="post" onsubmit="loadPage()" data-toggle="validator">

                <div class="col-xs-6">
                    <label>Serie</label>
                    <input type="text" class="form-control" name="serie" placeholder="Serie" required>
                    <label>Número Comprobante</label>
                    <input type="text" class="form-control" name="num" placeholder="Número" pattern="^[_0-9]{1,}$" required>
                    <label>Negocio</label><br />
                    <select class="selectpicker" data-live-search="true" name="neg" style="width:60%" required>
                        @foreach (var dato in ViewBag.negocios)
                        {
                            <option value="@dato.idNegocio"> @dato.nombre </option>
                        }
                    </select>
                    <br />
                    <label>Cliente</label><br />
                    <select class="selectpicker" data-live-search="true" name="cli" required>
                        @foreach (var dato in ViewBag.clientes)
                        {
                            <option value="@dato.idCliente"> @dato.nombres @dato.primerApellido @dato.segundoApellido </option>
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <label>Tipo Comprobante</label>
                    <select class="form-control" name="tpo" required>
                        @foreach (var dato in ViewBag.tipoComprobante)
                        {
                            <option value="@dato.idTipo"> @dato.descripcion </option>
                        }
                    </select>
                    <label>Fecha de Impresión</label>
                    <input type="text" class="form-control" name="feImp" placeholder="Fecha Impresión" id="feImp" data-date-format="yyyy-mm-dd" onclick="$('#feImp').datepicker('show');" required>
                    <label>Fecha de pago</label>
                    <input type="text" class="form-control" name="fePgo" placeholder="Fecha Pago" id="fePgo" data-date-format="yyyy-mm-dd" onclick="$('#fePgo').datepicker('show');" required>
                    <label>Descripcion</label>
                    <input type="text" class="form-control" name="desc" placeholder="Descripcion" required>
                    <label>Estado</label>
                    <select class="form-control" name="est" required>
                        @foreach (var dato in ViewBag.estados)
                        {
                            <option value="@dato.idEstado"> @dato.descripcion </option>
                        }
                    </select>
                    <br />
                    <button type="submit" class="btn btn-default">Guardar Comprobante</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNegocio">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Lista de Negocios</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalCliente">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Lista de Clientes</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>


<script>
    function showMdlNegocio() {
        $("#modalNegocio").modal();
    }
    function showMdl() {
        $("#modalCliente").modal();
    }
</script>




