@{
    int i = 1;
}
<!-- contenido -->
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Compras" onclick="loadPage();"><i class="fas fa-arrow-alt-circle-left"></i> Regresar a Compras</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-clipboard-list"></i> Agregar Detalle</div>
        <div class="panel-body">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <form action="/Compras/agregarDetalleCompra" method="post" onsubmit="loadPage()" data-toggle="validator">

                  <input type="text" class="form-control" name="idCompra" value="@ViewBag.idCompra" style="display:none" required>
                  <label>Material</label><br />
                  <select class="selectpicker" data-live-search="true" name="mate" required>
                      @foreach (var dato in ViewBag.materiales)
                      {
                          <option value="@dato.idMaterial"> @dato.descripcion </option>
                      }
                  </select><br />

                  <label>Cantidad</label>
                  <input type="text" class="form-control" name="cant" pattern="^[_0-9]{1,}$" required>
                  <label>Precio</label>
                  <input type="text" class="form-control" name="precio" pattern="^\d{0,8}(\.\d{0,3})?$" required>
                  <br />
                  <button type="submit" class="btn btn-default">Agregar Detalle</button>
              </form>
          </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="Stock">
                    <div class="form-inline" align="right"><label style="color:#636e72"> <i class="fas fa-search"></i> Filtrar: &nbsp;&nbsp;</label><input class="search form-control" placeholder="Busqueda en la lista" style="width:90%" /></div>
                    <br />
                    <div class="table-responsive">
                        <table id="table_Usuarios" class="table table-hover">
                            <thead>
                                <tr>
                                    <th># <button class="sort" data-sort="num" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:12px" aria-hidden="true"></span></button></th>
                                    <th>Material <button class="sort" data-sort="desc" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:12px" aria-hidden="true"></span></button></th>
                                    <th>Compras <button class="sort" data-sort="comp" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:12px" aria-hidden="true"></span></button></th>
                                    <th>Pedidos <button class="sort" data-sort="ped" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:12px" aria-hidden="true"></span></button></th>
                                    <th>Total Disponible <button class="sort" data-sort="tot" style="background-color:transparent;border:0px"><span class="glyphicon glyphicon-sort" style="font-size:12px" aria-hidden="true"></span></button></th>

                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var dato in ViewBag.kardex)
                                {
                                    <tr>
                                        <td class="num">@i</td>
                                        <td class="desc">@dato.material.descripcion</td>
                                        <td class="comp">@dato.compras</td>
                                        <td class="ped">@dato.pedidos</td>
                                        <td class="tot">@dato.total</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div align="right"><ul class="pagination"></ul></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-clipboard-list"></i> Lista de Elementos</div>
        <div class="panel-body">

            <div id="Detalle">
                <table id="table_Usuarios" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Material</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th><center>Eliminar</center></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var dato in ViewBag.compras)
                        {
                            <tr>
                                <td class="num">@i</td>
                                <td class="mat">@dato.material.descripcion</td>
                                <td>@dato.cantidad</td>
                                <td>@dato.precio</td>
                                <td align="center"><a class="btn btn-danger" href="/Compras/eliminaDetalleCompra/?idDetalleCompra=@dato.idCompraDetalle" role="button"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <div align="right"><ul class="pagination"></ul></div>
            </div>

        </div>
    </div>
</div>
<script>
    var options = {
        valueNames: ['num', 'desc'],
        page: 10,
        pagination: true
    };
    var userList = new List('Detalle', options);

    var optionsKarder = {
        valueNames: ['num', 'desc', 'comp', 'ped', 'tot  '],
        page: 5,
        pagination: true
    }
    var stocksList = new List('Stock', options);


</script>

